* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-image: url(images/bg-curvy-desktop.svg);
  background-color: hsl(218, 28%, 13%);
  color: white;
  /* margin: 50px auto;
  width: 1200px; */
}
.container {
  margin: 50px auto;
  width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding-left: 32px;
}

.nav-links:hover {
  color: orangered;
  font-weight: bold;
}

.main {
  text-align: center;
  width: 500px;
  margin: 20px auto;
  line-height: 1.2;
}

.main img {
  max-width: 100%;
}

.description {
  width: 420px;
  margin: 30px auto;
}

.btn {
  background-color: hsl(176, 68%, 64%);
  width: 150px;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

.boxes {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  text-align: center;
}
.head {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text {
  font-size: 13px;
}

.boxes1 {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 100px;
}

.box5 {
  width: 350px;
}

.text1 {
  font-size: 12px;
}

.txt1,
.txt2 {
  margin-bottom: 20px;
}

.link {
  color: hsl(198, 60%, 50%);
  display: flex;
  align-items: center;
  gap: 15px;
}

.boxes2 {
  display: flex;
  gap: 50px;
  height: 200px;
  align-items: center;
}

.quot {
  margin-top: 50px;
}

.profile-img {
  width: 18px;
  border-radius: 50%;
}

.box6,
.box7,
.box8 {
  background-color: hsl(219, 30%, 18%);
  padding: 40px;
}

.quotes {
  font-size: 12px;
}

.profile {
  font-size: 8px;
  margin-top: 20px;
}

.role {
  font-size: 6px;
}

.get-started {
  text-align: center;
  transform: scale(1);
  background-color: hsl(219, 30%, 18%);
  width: 550px;
  transform: translate(0%, -55%);
  margin: 0 auto;
  /* margin-top: 150px; */
  /* height: 150px; */
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
}

.input {
  width: 300px;
  height: 35px;
  border-radius: 25px;
  margin-right: 15px;
}

.get-started p {
  font-size: 12px;
}

.contact {
  display: grid;
  grid-template-columns: 300px 170px;
  gap: 10px;
  justify-content: center;
}

.address {
  grid-row: 1/3;
}

.footer1 {
  display: flex;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.links a:hover {
  color: orangered;
  font-weight: bold;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 50px;
  text-decoration: none;
}
footer {
  background-color: hsl(216, 53%, 9%);
  height: 450px;
  margin-top: 100px;
}

.icons a {
  color: transparent;
}

.all-files {
  margin-top: 20px;
}
